@model IEnumerable<QuanLiSV.Models.NganhHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Malop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tenlop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manghanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tennghanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Makhoa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Malop)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tenlop)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Manghanh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tennghanh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Makhoa)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Malop }) |
        @Html.ActionLink("Details", "Details", new { id = item.Malop }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Malop })
    </td>
</tr>
}

</table>
